
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.box {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.box:hover {
    transform: scale(1.05);
}

h1, h2, h3, p {
    font-size: 20px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="file"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button, .logout-button, .download-button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, .logout-button:hover, .download-button:hover {
    background-color: #0056b3;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
